<h2>Products</h2>

<!-- 
    "ng for" is used
    to iterate over
    the predefined list 
-->
<div *ngFor = "let product of products">


<h3> 
<!--
    property binding
    to use property value 
    in a template expression
-->
    <a [title] = "product.name + ' details'">
    
        {{ product.name }}  <!-- the interpolation syntax-->
    </a>
</h3>

<!-- 
    *ngIf directive so that
    p ele is good to go if a desc exists.
-->
<p *ngIf = "product.description">
    Description: {{ product.description}}
</p>

<!--
    button where its click event
    to be binded to share() event
    "()" -> event binding syntax
-->
<button (click)="share()">
    Share
</button>

<!--
    1
    To include the new component, use its 
    selector (app-product-alert) as an HTML element.

    Pass the current product as input to 
    the component using property binding.
    
    2
    property binding to 
    pass current product as input
    to this component using it

    3
    based on the price of the product input,
    it shows or hide this button.

    4
    finlly, product passed as input and 
    event emitter (notify) binding to the onNotify() method
-->
<app-product-alerts 
    [product] = "product"
    (notify)="onNotify()"
>    
</app-product-alerts>




</div>
